In [1]:
import pandas as pd

d = {'col1':[10,11,12,13], 'col2':[15,16,17,18], 'col3':[20,21,22,23]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0    10    15    20
1    11    16    21
2    12    17    22
3    13    18    23

In [2]:
count_column = df.shape[1]

print("Number of column : ")
print(count_column)

Number of column :
3

In [3]:
count_row = df.shape[0]

print("Number of Row : ")
print(count_row)

Number of Row :
4

In [4]:
import pandas as pd

d = {'Name':['harsh','jay','kishan','Utkarsh'], 'Age':[15,16,17,18], 'RollNo':[20,21,22,23]}

df = pd.DataFrame(data=d)

print(df)

      Name  Age  RollNo
0    harsh   15      20
1      jay   16      21
2   kishan   17      22
3  Utkarsh   18      23

In [5]:
import pandas as pd

data = [['harsh',18],['Jay',19],['kishan',54],['Utkarsh',20]]

df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)

print(df)

      Name   Age
0    harsh  18.0
1      Jay  19.0
2   kishan  54.0
3  Utkarsh  20.0

In [6]:
import pandas as pd

d = {'Name':['harsh','jay','kishan','Utkarsh'], 'Age':[15,16,17,18], 'RollNo':[20,21,22,23]}

df = pd.DataFrame(data=d, index=['No1','No2','No3','No4'])

print(df)

        Name  Age  RollNo
No1    harsh   15      20
No2      jay   16      21
No3   kishan   17      22
No4  Utkarsh   18      23

In [11]:
import pandas as pd

d = [{'a': 1,'b': 2},{'a': 12,'b': 13,'c': 14}]

df = pd.DataFrame(data=d, index=['No1','No2'])

print(df)

      a   b     c
No1   1   2   NaN
No2  12  13  14.0

In [15]:
import pandas as pd

d = [{'a': 1,'b': 2},{'a': 12,'b': 13,'c': 14},{'a': 25,'b1': 31,'d1': 62}]

df1 = pd.DataFrame(data=d, index=['first','second','third'], columns=['a','b','c','d'])

df2 = pd.DataFrame(data=d, index=['first','second','third'], columns=['a','b1','c','d1'])

print("df1 output")
print(df1)

print("df2 output")
print(df2)

df1 output
         a     b     c   d
first    1   2.0   NaN NaN
second  12  13.0  14.0 NaN
third   25   NaN   NaN NaN
df2 output
         a    b1     c    d1
first    1   NaN   NaN   NaN
second  12   NaN  14.0   NaN
third   25  31.0   NaN  62.0

In [16]:
print(df1)

         a     b     c   d
first    1   2.0   NaN NaN
second  12  13.0  14.0 NaN
third   25   NaN   NaN NaN

In [17]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [18]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

print("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [19]:
# delete a column
# using del function and pop function

import pandas as pd

d = {'Name' : pd.Series(['harsh', 'jignesh', 'charmi'], index=['a', 'b', 'c']), 
   'Age' : pd.Series([18, 12, 23, 14], index=['a', 'b', 'c', 'd']), 
   'rollno' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df)

# using del function
print ("Deleting the first column using DEL function:")
del df['Name']
print(df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('Age')
print(df)

Our dataframe is:
      Name  Age  rollno
a    harsh   18    10.0
b  jignesh   12    20.0
c   charmi   23    30.0
d      NaN   14     NaN
Deleting the first column using DEL function:
   Age  rollno
a   18    10.0
b   12    20.0
c   23    30.0
d   14     NaN
Deleting another column using POP function:
   rollno
a    10.0
b    20.0
c    30.0
d     NaN

In [20]:
import pandas as pd

d = {'Name' : pd.Series(['harsh', 'jignesh', 'charmi'], index=['a', 'b', 'c']), 
   'Age' : pd.Series([18, 12, 23, 14], index=['a', 'b', 'c', 'd']), 
   'rollno' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)

print(df.loc['b'])

Name      jignesh
Age            12
rollno         20
Name: b, dtype: object

In [23]:
import pandas as pd

d = {'Name' : pd.Series(['harsh', 'jignesh', 'charmi'], index=['a', 'b', 'c']), 
   'Age' : pd.Series([18, 12, 23, 14], index=['a', 'b', 'c', 'd']), 
   'rollno' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)

print(df.iloc[2])

Name      charmi
Age           23
rollno        30
Name: c, dtype: object

In [24]:
import pandas as pd

d = {'Name' : pd.Series(['harsh', 'jignesh', 'charmi'], index=['a', 'b', 'c']), 
   'Age' : pd.Series([18, 12, 23, 14], index=['a', 'b', 'c', 'd']), 
   'rollno' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)

print(df[2:4])

     Name  Age  rollno
c  charmi   23    30.0
d     NaN   14     NaN

In [25]:
import pandas as pd

df = pd.DataFrame([[11, 12], [13, 14]], columns = ['a','b'])

df2 = pd.DataFrame([[15, 16], [17, 18]], columns = ['a','b'])

df = df.append(df2)

print(df)

    a   b
0  11  12
1  13  14
0  15  16
1  17  18

In [26]:
import pandas as pd

df = pd.DataFrame([[11, 12], [13, 14]], columns = ['a','b'])

df2 = pd.DataFrame([[15, 16], [17, 18]], columns = ['a','b'])

df = df.append(df2)

#drop with label 1
df = df.drop(1)

print(df)

    a   b
0  11  12
0  15  16